/* Classes */

.dashboard-container {
  width: 500px;
  padding: 10px;
}

.App {
  text-align: center;
}

/* App-Header */
.App-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171f31;
  color: #fff;
}

.header-data {
  list-style-type: none;
  background-color: #111b32;
  text-align: center;
  font-size: 1rem;
  color: green;
  font-family: monospace;
  padding: 5px;
  border: 2px solid #fff;
}


.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

#profile {
  background-color: #111c32;
  height: auto;
}

#profile .profile-card {
  padding: 10px;
  width: 450px;
  margin: 0 auto;
}

#profile .profile-card h3 {
  font-size: 1rem;
}

#profile .profile-card .profile-img-container {
  width: 450px;
  height: 300px;
}

#profile .profile-card .profile-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#post-center {
  background-color: #32112e;
  height: auto;
}

/* Posts */
#post-center .posts {
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

/* Single-Post */
#post-center .posts .post {
  width: 100%;
  border: 2px solid white;
  margin: 20px 0;
  padding: 5px;
}

#post-center .posts .post h3 {
  font-size: .8rem;

}

#post-center .posts .post p {
  font-size: 18px;
  font-family: sans-serif;
  text-align: justify;
}



#trending {
  background-color: #322d11;
  height: auto;
}

/* Page 404 */
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f1c3b;
  color: #fff;
}

.page-404>div {
  padding: 10px;
}

.page-404 h2 {
  font-size: 4rem;
  font-family: cursive;
  font-style: italic;
  box-shadow: -10px 20px 30px 20px rgba(218, 165, 32, 0.488);
}

.page-404 button {
  margin-top: 50px;
  padding: 10px;
  font-size: 20px;
  border: #fff solid 5px;
  background-color: unset;
  color: #b2b6c4;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all ease-in 500ms;
  cursor: pointer;
}

.page-404 button:hover {
  color: green;
}